Flask==1.1.0
Flask-SocketIO==4.1.0
eventlet==0.25.0
Flask-Bootstrap==3.3.7.1
Flask-Nav==0.6
#ogn-client==0.8.2
 -e git+git://github.com/Meisterschueler/python-ogn-client@feature/+telnet_parser#egg=python-ogn-client
