{% extends "bootstrap/base.html" %}
{% block title %}OGN receiver status page{% endblock %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="static/js/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    
$(document).ready(function() {
    namespace = '/test';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
    socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!'});
    });
    socket.on('raw_data', function(msg) {
        $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
    });
    socket.on('ogn_data', function(msg) {
        $('#log').append('<br>' + $('<div/>').text('Address: ' + msg.address + ', signal quality: ' + msg.signal_quality + ', error count: ' + msg.error_count).html());
    });

    $('form#emit').submit(function(event) {
        socket.emit('my_event', {data: $('#emit_data').val()});
        return false;
    });
});
    
    </script>
{% endblock %}


{% block content %}
	<div class="container">
    <form id="emit" method="POST" action='#'>
    	<label for="emit_data">Send:</label>
        <input type="text" class="form-control" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" class="btn btn-info" value="Echo">
    </form>
    
    <label for="log">Receive:</label>
    <div id="log"></div>
    </div>
 
 {% endblock %}