{% extends "base.html" %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
    
$(document).ready(function() {
    namespace = '/test';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    var graphDiv = document.getElementById('plotly_chart')
    var min_gapsize = 1000;
    var devices = {};
    
    Plotly.plot(graphDiv, []);
    
    var next_trace_id = 0
    socket.on('ogn_data', function(msg) {
        var timestamp = new Date(msg.timestamp*1000);

        if (msg.address in devices) {
            device = devices[msg.address];
            trace_id = device.trace_id
            if (timestamp.getTime() - device['timestamp'].getTime() > min_gapsize) {
                Plotly.extendTraces(graphDiv, {y: [[null]]}, [trace_id])
            }
            Plotly.extendTraces(graphDiv, {x: [[timestamp]], y: [[msg.signal_quality]]}, [device.trace_id])
            devices[msg.address]['timestamp'] = timestamp;
        } else {
            Plotly.addTraces(graphDiv, [{
                x: [timestamp],
                y: [msg.signal_quality],
                mode: 'lines+markers',
                name: msg.address,
            }]);
            devices[msg.address] = {'trace_id': next_trace_id, 'timestamp': timestamp}
            next_trace_id += 1;
        }
    });
}); 

    </script>
{% endblock %}

{% block app_content %}
	<div class="container">
    <div id="plotly_chart"><!-- Plotly chart will be drawn inside this DIV --></div>
    </div>
 {% endblock %}
 