{% extends "base.html" %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
    
$(document).ready(function() {
    namespace = '/test';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    var graphDiv = document.getElementById('plotly_chart')
    var min_gapsize = 1000;
    var max_timestamp = null;
    var next_trace_id = 0
    var trace_ids = {};
    
    Plotly.plot(graphDiv, []);
    
    socket.on('ogn_data', function(msg) {
        var address = msg.address
        var timestamp = new Date(msg.timestamp*1000);
        var value = msg.signal_quality;

        // add trace or append data if trace already exists
        if (!(address in trace_ids)) {
            trace_ids[address] = next_trace_id;
            next_trace_id += 1;
            Plotly.addTraces(graphDiv, [{
                x: [timestamp],
                y: [value],
                mode: 'lines+markers',
                name: address,
            }]);
        } else {
            trace_id = trace_ids[address];
            if (timestamp.getTime() - graphDiv.data[trace_id].x[graphDiv.data[trace_id].x.length - 1].getTime() > min_gapsize) {
                Plotly.extendTraces(graphDiv, {y: [[null]]}, [trace_id]);
            }
            Plotly.extendTraces(graphDiv, {x: [[timestamp]], y: [[value]]}, [trace_id])
        }
        
        // update layout
        if (max_timestamp == null || max_timestamp < timestamp) {
            max_timestamp = timestamp;
            var startTime = new Date(timestamp.getTime() - 55000);
            var endTime = new Date(timestamp.getTime() + 5000);
            
            var minuteView = {
                xaxis: {
                  type: 'date',
                  range: [startTime, endTime]
                }
            };
            
            Plotly.relayout(graphDiv, minuteView);
        }
    });
}); 

    </script>
{% endblock %}

{% block app_content %}
	<div class="container">
    <div id="plotly_chart"><!-- Plotly chart will be drawn inside this DIV --></div>
    </div>
 {% endblock %}
 