{% extends "base.html" %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
    
$(document).ready(function() {
    namespace = '/ogn';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    var graphDiv = document.getElementById('plotly_chart')
    var max_gapsize = 2000;
    var max_timestamp = null;
    var next_trace_id = 0
    var trace_ids = {};
    
    var new_data = {};
    
    Plotly.plot(graphDiv, []);
    
    socket.on('ogn_data', function(msg) {
        var address = msg.address;
        var timestamp = new Date(msg.timestamp*1000 + msg.pps_offset*1000);
        var value = msg.signal_quality;
        
        max_timestamp = timestamp;

        // add trace or append data if trace already exists
        if (!(address in trace_ids)) {
            trace_ids[address] = next_trace_id;
            next_trace_id += 1;
            Plotly.addTraces(graphDiv, [{
                x: [timestamp],
                y: [value],
                mode: 'lines+markers',
                name: address,
            }]);
        } else {
            trace_id = trace_ids[address];
            
            var last_timestamp = null;
            if (!(trace_id in new_data)) {
            	last_timestamp = graphDiv.data[trace_id]['x'][graphDiv.data[trace_id]['x'].length - 1];
            } else {
            	last_timestamp = new_data[trace_id]['x'][new_data[trace_id]['x'].length - 1];
            }
            
            var xi = [];
            var yi = [];
        	gapsize = timestamp.getTime() - last_timestamp;
            if (gapsize > max_gapsize) {
                xi.push(timestamp - max_gapsize/2);
        		yi.push(null);
            }
            xi.push(timestamp);
            yi.push(value);

            if (!(trace_id in new_data)) {
            	new_data[trace_id] = {'x': xi, 'y': yi};
            } else {
            	new_data[trace_id]['x'].push(xi);
            	new_data[trace_id]['y'].push(yi);
            }
        }
    });
    
    setInterval(function() {
    	var data = {'x': [], 'y': []};
    	var trace_ids = [];
    	for (var trace_id in new_data) {
    		trace_id = parseInt(trace_id);
    		xi = new_data[trace_id]['x'];
    		yi = new_data[trace_id]['y'];
    		data['x'].push(xi);
    		data['y'].push(yi);
    		trace_ids.push(trace_id);
    	};
    
    	Plotly.extendTraces(graphDiv, data, trace_ids);
    	new_data = {};
    
        var startTime = new Date(max_timestamp - 55000);
        var endTime = new Date(max_timestamp + 5000);
        
        var minuteView = {
            xaxis: {
              type: 'date',
              range: [startTime, endTime]
            }
        };
        
        Plotly.relayout(graphDiv, minuteView);
        
        max_timestamp = max_timestamp + 1000;
    }, 1000);
}); 

    </script>
{% endblock %}

{% block app_content %}
	<div class="container">
    <div id="plotly_chart"><!-- Plotly chart will be drawn inside this DIV --></div>
    </div>
 {% endblock %}
 